# Airflow Configuration
AIRFLOW_UID=50000

# Postgres Configuration for Airflow
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Admin User Defaults
AIRFLOW_WWW_USER_USERNAME=sandy
AIRFLOW_WWW_USER_PASSWORD=bismillahadmin!123
