# Airflow Configuration
AIRFLOW_UID=50000

# Postgres Configuration for Airflow
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=airflow

# Admin User Defaults
AIRFLOW_WWW_USER_USERNAME=your_username
AIRFLOW_WWW_USER_PASSWORD=your_secure_password

# Security
AIRFLOW__WEBSERVER__SECRET_KEY=your_secure_random_string_here

# ClickHouse Configuration
CLICKHOUSE_USER=your_clickhouse_user
CLICKHOUSE_PASSWORD=your_clickhouse_password

# Jupyter Authentication
JUPYTER_SECURE_TOKEN=your_secure_password_here
